extends ../layout/index.jade

block content
    .container(class=section) 
        h1.text-center My Polls
        
            
        .small-container
        
            if (polls.length > 0)
                ul.list-group
                -polls.forEach(function(poll) {
                    li.list-group-item
                        a(href=poll.url)= poll.title
                -})
            else
                p.text-muted(style='margin-bottom: 50px') Looks like you haven't created any polls yet. 
                + Click on the button below to get started.
            
            button.btn.btn-success.pull-right New poll
                a(href='/new') 