@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,300);
body {
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
h1 {
    font-weight: 300;
}

/**
=====================
Navbar
=====================
**/
.navbar-default {
    border: none;
    background: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #111;
}
.navbar-default .navbar-brand {
    color: #111;
    font-size: 22px;
    font-weight: 800;
}
/**
=====================
Hero
=====================
**/


/**
=====================
Login and Signin
=====================
**/

.small-container {
    padding-top: 100px;
    width: 40%;
    margin: auto;
}

/**
=====================
New Poll
=====================
**/

.newpoll.small-container {
    margin-bottom: 200px;
    padding-top: 25px;
}

#numofoptions {
    display: none;
}